asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-appconf==1.1.0
django-compressor==4.5.1
django-debug-toolbar==6.0.0
django-extensions==4.1
gunicorn==23.0.0
packaging==25.0
pillow==10.4.0
psycopg2-binary==2.9.11
python-decouple==3.8
rcssmin==1.1.2
rjsmin==1.2.2
sqlparse==0.5.3
whitenoise==6.11.0
