{% comment %}
    Template partiel pour le podium de la SAISON.
    Attends une variable 'leaderboard' (un QuerySet de Player) dans le contexte.
{% endcomment %}

<section class="podium-container grid">

    <article class="podium-item podium-2" data-theme="secondary">
        <i class="bi bi-trophy-fill" style="color: #C0C0C0; font-size: 2rem;"></i>
        <h4>2ème Place</h4>
        
        {% for player in leaderboard %}{% if player.rank == 2 %}
            <div style="margin-top: 1rem;">
                <a href="{% url 'leaderboard:player_detail' player.slug %}"  style="color:var(--pico-primary)">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}" alt="{{ player.display_name }}">
                    {% else %}
                        <i class="bi bi-person-circle icon-placeholder"></i>
                    {% endif %}
                    <br>
                    <strong>{{ player.display_name }}</strong>
                </a>
                <br><small>{{ player.total_points }} pts</small> 
            </div>
        {% endif %}{% endfor %}
    </article>
    
    <article class="podium-item podium-1">
        <i class="bi bi-trophy-fill" style="color: #FFD700; font-size: 3rem;"></i>
        <h4>1ère Place</h4>
        
        {% for player in leaderboard %}{% if player.rank == 1 %}
            <div style="margin-top: 1rem;">
                <a href="{% url 'leaderboard:player_detail' player.slug %}" style="color:var(--pico-primary)">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}" alt="{{ player.display_name }}" style="width: 80px; height: 80px;">
                    {% else %}
                        <i class="bi bi-person-circle" style="font-size: 80px;"></i>
                    {% endif %}
                    <br>
                    <strong>{{ player.display_name }}</strong>
                </a>
                <br><small>{{ player.total_points }} pts</small>
            </div>
        {% endif %}{% endfor %}
    </article>

    <article class="podium-item podium-3" data-theme="secondary">
        <i class="bi bi-trophy-fill" style="color: #CD7F32; font-size: 2rem;"></i>
        <h4>3ème Place</h4>
        
        {% for player in leaderboard %}{% if player.rank == 3 %}
            <div style="margin-top: 1rem;">
                <a href="{% url 'leaderboard:player_detail' player.slug %}" style="color:var(--pico-primary)">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}" alt="{{ player.display_name }}">
                    {% else %}
                        <i class="bi bi-person-circle icon-placeholder"></i>
                    {% endif %}
                    <br>
                    <strong>{{ player.display_name }}</strong>
                </a>
                <br><small>{{ player.total_points }} pts</small>
            </div>
        {% endif %}{% endfor %}
    </article>

</section>